# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb


.DS_Store
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Build/rk0_app.bin
Build/rk0_app.disasm
Build/rk0_app.disasm
Build/rk0_app.bin
.vscode/tasks.json
Build/rk0_app.disasm
Build/rk0_app.disasm
Build/rk0_app.bin
Build/rk0_app.bin
Build/rk0_app.disasm
*.lst
build/armv7m/rk0_demo.bin
uncrustify/
compile_commands.json